*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
    font-size: 16px;
    font-family: "Lato";
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 1317px;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ddd; */
}
.nav .logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.nav ul li{
   
    margin-left: 50px;
    list-style-type: none;   
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.bg1, .bg2{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;

}
.bg1{
    background-image: url('/home/sid/Desktop/Siddhant/SecondYear/Wp/Unit1/Rw/assets/images/bg3.jpeg');
    min-height: 100%;
}
.bg2{
    background-image: url('/home/sid/Desktop/Siddhant/SecondYear/Wp/Unit1/Rw/assets/images/bg4.jpeg');
    min-height: 100%;
}

.light{
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    color: #666;
}

.dark{
    text-align: center;
    padding: 20px;
    background-color: #282e34;
    color: #ddd;
}

.text1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase; 
}
.text1 .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}
.text2{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.text2 .border{
    background-color: transparent;
    color: #fff;
    padding: 20px;
}